<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <meta name="format-detection" content="telephone=no"/>
    <title>去结算</title>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/style.css"/>
    <script src="/taobao/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loading").addClass("loader-chanage")
            $(".loading").fadeOut(300)


        })
    </script>
</head>
<!--loading页开始-->
<div class="loading">
    <div class="loader">
        <div class="loader-inner pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<body>
<header class="top-header fixed-header">
    <a class="icona" href="javascript:history.go(-1)">
        <img src="/taobao/images/left.png"/>
    </a>
    <h3>去结算</h3>
    <a class="iconb" href="shopcar.html">
    </a>
</header>

<div class="contaniner fixed-cont">
    <section class="to-buy">
        <header>
            <div class="now">
                <span><img src="/taobao/images/map-icon.png"/></span>
                <dl>
                    <dt>
                        <b id="userId" th:text="${user.id}" hidden></b>
                        <b th:text="${user.username}">瑾晨</b>
                        <strong th:text="${user.phone}">13035059860</strong>
                    </dt>
                    <dd id="addressDetail" th:text="${address.detail}"></dd>
                    <p onclick="DisplayAddress()" id="other">其他地址</p>
                    <p onclick="HideAddress()" style="display: none;" id="hideAddress">收起</p>
                    <div id="otherAddress" style="display: none">
                        <dl th:each="address,addressState:${addressList}">
                            <dd th:id="${address.id}" th:onclick="|javascript:chooseAddress(${address.id})|"
                                th:text="${address.detail}"></dd>
                            <br>
                        </dl>
                    </div>
                </dl>
            </div>

            <div class="to-now">
                <div class="tonow">
                    <label for="tonow" onselectstart="return false"></label>
                    <input type="checkbox" id="tonow"/>
                </div>
                <dl>
                    <dt>
                        <b id="userName" th:text="${user.username}">瑾晨</b>
                        <strong th:text="${user.phone}">13035059860</strong>
                    </dt>
                    <dd id="askChoose" th:text="${address.detail}"></dd>
                    <dd id="addressID" th:text="${address.id}" hidden></dd>
                    <dd id="showAddress" style="display: none;"></dd>
                </dl>
                <!--<h3><a href="/taobao/person/go-address"><img src="/taobao/images/write.png"/></a></h3>-->
            </div>
        </header>
        <div class="buy-list">
            <ul>
                <!--<a th:href="@{'taobao/goodsDetail/' +${goods.id}}">-->
                <figure>
                    <img th:src="@{'/upload/tgoods/'+${goods.img}}"/>
                </figure>
                <span id="productID" th:text="${goods.id}" hidden></span>
                <h3 th:text="${goods.title}">超级大品牌服装，现在够买只要998</h3>
                <span th:text="${goods.typename}"></span>
                <br/>
                <span th:text="${goods.storename}"></span>
                <br/>
                <small>¥</small>&nbsp;<b th:text="${goods.prices}">￥32.00</b>
                <br/>
                <small>x</small>&nbsp;<b id="totalCount" th:text="${account}">×3</b>
            </ul>
            <dl>
                <dd>
                    <span>运费</span>
                    <small>包邮</small>
                </dd>
                <dd>
                    <span>商品总额</span>
                    <small>¥</small>&nbsp;<small id="totalPrice" th:text="${sum}">￥98.00</small>
                </dd>
                <dt>
                    <textarea id="userContet" rows="4" placeholder="给卖家留言（50字以内）"></textarea>
                </dt>
            </dl>
        </div>

    </section>
    <!--底部不够-->
    <div style="margin-bottom: 9%;"></div>
</div>

<footer class="buy-footer fixed-footer">
    <p>
        <small>总金额</small>
        <small>¥</small>&nbsp;<b th:text="${sum}">￥32.00</b>
    </p>

    <input type="button" value="去付款" onclick="goToBuy()"/>
</footer>

<script type="text/javascript">
    $(".to-now .tonow label").on('touchstart', function () {
        if ($(this).hasClass('ton')) {
            $(".to-now .tonow label").removeClass("ton")
        } else {
            $(".to-now .tonow label").addClass("ton")
        }
    });

    function goToBuy() {
        // go to java function and save the data, moreover, this function will go to the page which displays the goods which status is bought
        var totalPrice = document.getElementById("totalPrice").textContent;// total price
        var totalCount = document.getElementById("totalCount").textContent;//total count
        var productId = document.getElementById("productID").textContent;//productID
        var addressId = document.getElementById("addressID").textContent; // Address ID
        var userContet = document.getElementById("userContet").textContent;//Usercontent
        console.log(totalPrice + "!!!!" + totalCount + "@@@@" + productId + "****" + addressId + "####" + userContet)
        console.log(userContet)
        //post the value to java
        $.ajax({
            type: "post",
            url: '/taobao/person/SubmitOrder',
            data: {
                productId: productId,
                addressId: addressId,
                userContet: userContet,
                totalCount: totalCount,
                totalPrice: totalPrice
            },
            dataType: "json",
            success: function (data) {
                if (data.code == 0) {
                    //go to the status page
//                    layer.msg(data.msg);
                    console.log("成功了宝贝！！")
                    window.location.href = "/taobao/sucess"
                } else {
                    layer.msg(data.msg);
                }
            }
        });
    }

    function DisplayAddress() {
        //Display the other address
        document.getElementById("otherAddress").style.display = ""
        document.getElementById("hideAddress").style.display = ""
        document.getElementById("other").style.display = "none"
        document.getElementById("addressDetail").style.display = "none"
    }

    function HideAddress() {
        //Hide the other address
        document.getElementById("otherAddress").style.display = "none"
        document.getElementById("hideAddress").style.display = "none"
        document.getElementById("other").style.display = ""
        document.getElementById("addressDetail").style.display = ""
    }

    //this function can let the user choose their address
    function chooseAddress(index) {
//      console.log(index)
        console.log(document.getElementById(index).textContent)
        var content = document.getElementById(index).textContent
        document.getElementById("showAddress").style.display = ""
        document.getElementById("askChoose").style.display = "none"
        document.getElementById("addressID").textContent = index
        console.log(index)
        document.getElementById("showAddress").textContent = content
    }

</script>

</body>
</html>