<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/style.css"/>
    <script src="/taobao/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loading").addClass("loader-chanage")
            $(".loading").fadeOut(300)
        })
    </script>
</head>
<!--loading页开始-->
<div class="loading">
    <div class="loader">
        <div class="loader-inner pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--loading页结束-->
<body>
<header class="top-header">
    <a class="icona" href="javascript:history.go(-1)">
        <img src="/taobao/images/left.png"/>
    </a>
    <h3>我的资料</h3>
    <a class="iconb" href="shopcar.html">
    </a>
    <a class="text" href="/taobao/updateDatum">编辑资料</a>
</header>

<div class="contaniner">
    <ul class="self-data">
        <li>
            <p>昵称:              </p>
            <p class="name" th:text="${member.username}">Guoguo</p>
            <!--<small>瑾晨</small>-->
        </li>
        <li>
            <p>性别:              </p>
            <p th:text="${member.sex}"></p>
        </li>
        <li>
            <p>QQ:              </p>
            <p th:text="${member.qq}"></p>
        </li>
        <li>
            <p>邮箱:              </p>
            <p th:text="${member.email}"></p>
        </li>
        <li>
            <p>电话:              </p>
            <p th:text="${member.phone}"></p>
        </li>
    </ul>
</div>

</body>
</html>