<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>添加地址</title>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loaders.min.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/style.css"/>
	<script src="/taobao/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/taobao/js/distpicker.data.js" type="text/javascript" charset="utf-8"></script>
	<script src="/taobao/js/distpicker.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	$(window).load(function(){
    		$(".loading").addClass("loader-chanage")
    		$(".loading").fadeOut(300)
    	})
    </script>
</head>
<!--loading页开始-->
<div class="loading">
	<div class="loader">
        <div class="loader-inner pacman">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
	</div>
</div>
<!--loading页结束-->
<body>
	<header class="top-header fixed-header">
		<a class="icona" href="javascript:history.go(-1)">
				<img src="/taobao/images/left.png"/>
			</a>
		<h3>添加地址</h3>
			
			<a class="text-top" >
			</a>
	</header>
	
	<div class="contaniner fixed-conta">
		<form method="post" class="change-address" id="save">
			<ul>
				<li>
					<label class="addd">收货人：</label>
					<textarea id="username" type="text" th:text="${username}"  readonly="readonly"></textarea>
				</li>
				<li>
					<label class="addd">手机号：</label>
					<input id="userphone" type="tel" value="" required="required"/>
				</li>
				<li>
					<label class="addd">所在地区：</label>
					<div data-toggle="distpicker">
						<select class="selectArea" id="provinceUser">
						</select>
						<select class="selectArea" id="cityUser">
						</select>
						<select class="selectArea" id="distUser">
						</select>
					</div>
				</li>
				<li>
					<label class="addd">详细地址：</label>
					<textarea id="detailArea" required="required"></textarea>
				</li>
			</ul>
			
			<ul>
				<li class="checkboxa">
					<input type="checkbox" id="check"/>
					<label class="check" for="check" onselectstart="return false"  >设置为默认地址</label>
				</li>
			</ul>
			<!--<ul>-->
				<!--<li>-->
					<!--<h3>删除此地址</h3>-->
				<!--</li>-->
			<!--</ul>-->
			<input type="submit" onclick="save()" value="保存" />
		</form>
	</div>
	
	<script src="/taobao/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(".checkboxa label").on('touchstart',function(){
			if($(this).hasClass('checkd')){
				$(".checkboxa label").removeClass("checkd");
			}else{
				$(".checkboxa label").addClass("checkd");
			}
		})

		function save(){
            var username=$("#username").val();
            var userphone=$("#userphone").val();
            var provinceUser=$("#provinceUser").val();
            var cityUser=$("#cityUser").val();
            var distUser=$("#distUser").val();
            var detailArea=$("#detailArea").val();
            $.ajax({
                type: "post",
                url: '/taobao/person/save-address',
                data: {
                    username:username,
                    userphone:userphone,
                    provinceUser:provinceUser,
                    cityUser:cityUser,
                    distUser:distUser,
                    detailArea:detailArea
                },
                dataType: "json",
                success:function(data) {
                    if(data.code==0){
                        console.log("来到这里了宝贝！！");
                        window.location.href = "/taobao/sucess"
                    }else{
                        console.log("Hello boy!");
                        layer.msg(data.msg);
                    }
                }
            });
		}
	</script>
	
<style>
	.selectArea{ border:2px solid #F8AC59}
</style>
</body>
</html>