<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>首页</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script src="/taobao/js/rem.js"></script>    
    <link href="/taobao/iconfont/iconfont.css" rel="stylesheet"/>
    <link href="/taobao/css/mui.min.css" rel="stylesheet"/>
    <link href="/taobao/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/taobao/css/style.css"/>
</head>
<body>
    <header class="mui-bar mui-bar-nav" id="header">
        <div class="top-sch-box flex-col">
            <div class="centerflex">
                <i class="fdj iconfont icon-search"></i>
                <div class="sch-txt">Nike Just Do it!!</div>
                <span class="shaomiao"><i class="iconfont icon-saoma"></i></span>
            </div>
        </div>
        <a class="btn" href="/taobao/person/msg">
            <i class="iconfont icon-tixing"></i>
        </a>
        <a class="btn" href="/taobao/person/cartList">
            <i class="iconfont icon-cart"></i>
        </a>
    </header>

<div id="main" class="mui-clearfix">
	 <!-- 搜索层 -->
    <div class="pop-schwrap">
        <div class="ui-scrollview">
            <div class="mui-bar mui-bar-nav clone">
                <a class="btn btn-back" href="javascript:;"></a>
                <div class="top-sch-box flex-col">
                    <div class="centerflex">
                        <input class="sch-input mui-input-clear" type="text" name="" id="searchInput" placeholder="Liling make the changes!!" />
                    </div>
                </div>
                <a class="mui-btn mui-btn-primary sch-submit" href="search.html">搜索</a>
            </div>
            <div class="scroll-wrap">
                <div class="mui-scroll">
                    <div class="sch-cont">
                        <div class="section ui-border-b">
                            <div class="tit"><i class="iconfont icon-hot"></i>热门搜索</div>
                            <div class="tags">
                                <span class="tag"><a onclick="display('外套')">外套</a></span>
                                <span class="tag"><a onclick="display('连衣裙')">连衣裙</a></span>
                                <span class="tag"><a onclick="display('运动鞋')">运动鞋</a></span>
                                <span class="tag"><a onclick="display('睡衣')">睡衣</a></span>
                                <span class="tag actice"><a onclick="display('篮球鞋')">篮球鞋</a></span>
                                <span class="tag"><a onclick="display('手机')">手机</a></span>
                                <span class="tag"><a onclick="display('华为')">华为</a></span>
                                <span class="tag"><a onclick="display('球衣')">球衣</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="sch-clear">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mui-content">
        <div class="banner swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="banner:${bannerList}">
                    <a th:href="@{'/taobao/bannerDetail/'+${banner.id}}">
                        <img class="swiper-lazy"
                             th:src="@{'/upload/banner/'+${banner.img}}" alt="">
                    </a>
                </div>

            <div class="swiper-pagination"></div>
        </div>

        <div class="home-nav ui-box">
            <div class="ui-flex flex-justify-sb">
                <div th:each="banner:${bannerList}">
                    <a th:href="@{'/taobao/bannerDetail/'+${banner.id}}"><img th:src="@{'/upload/banner/'+${banner.img}}" alt="" /></a>
                </div>

            </div>
        </div>

        <!--<div class="home-qnav ui-box">-->
            <!--<div class="ui-flex flex-justify-sb">-->
                <!--<div><a href="http://www.591zq.com"><img src="/taobao/img/qnav1.png" class="ico" /><span class="name">我的店铺</span></a></div>-->
                <!--<div><a href="http://www.591zq.com"><img src="/taobao/img/qnav2.png" class="ico" /><span class="name">招商加盟</span></a></div>-->
                <!--<div><a href="http://www.591zq.com"><img src="/taobao/img/qnav3.png" class="ico" /><span class="name">我的喜欢</span></a></div>-->
                <!--<div><a href="http://www.591zq.com"><img src="/taobao/img/qnav4.png" class="ico" /><span class="name">猜你喜欢</span></a></div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="home-newgoods ui-box">
            <img class="home-imgtit" src="/taobao/img/hometit1.jpg" alt="" />
            <div class="list-type1 plist-puzzle">
                <a class="b" href=""><img src="/taobao/uploads/t1.jpg" alt="" /></a>
                <div class="s ui-flex-vt flex-justify-sb">
                    <a th:each="xinpin:${xinpinList}" class="box" th:href="@{'/taobao/goodsDetail/'+${xinpin.id}}">
                        <img class="figure" th:src="@{'/upload/project/'+${xinpin.img}}" alt="" />
                        </a>
                </div>
            </div>
            <img class="home-imgtit" src="/taobao/img/hometit2.jpg" alt="" />
            <div class="list-type2 ui-flex flex-justify-sb">
                <a th:each="hit:${hitList}" class="box" th:href="@{'/taobao/goodsDetail/'+${hit.id}}">
                    <img class="figure" th:src="@{'/upload/project/'+${hit.img}}" alt="" />
                    <span class="tit"  th:text="${hit.title}">情侣穿搭</span></a>

            </div>
        </div>

        <div class="home-fashion ui-box ui-border-t">
            <img class="home-imgtit" src="/taobao/img/hometit3.jpg" alt="" />
            <a href=""><img class="db margin-b-s" src="/taobao/uploads/t4.jpg" width="100%" alt="" /></a>
            <div class="fastion-plist mui-row">
                <div class="mui-col-xs-4" th:each="com:${commList}">
                    <a class="item">
                        <img th:src="@{'/upload/project/'+${com.img}}" width="165px" height="165px" alt="" class="figure" />
                        <span class="tit" th:text="${com.title}">印花卫衣</span>
                    </a>
                </div>
            </div>
        </div>
            <!--优惠劵  去掉-->
            <!--<div class="home-fashion ui-box ui-border-t">-->
                <!--<img class="home-imgtit" src="/taobao/img/hometit3.jpg" alt="" />-->
                <!--<div class="fastion-plist mui-row">-->
                    <!--<div class="mui-col-xs-4" th:each="coupon:${couponList}">-->
                        <!--<a class="item">-->
                            <!--&lt;!&ndash;<image th:if="${coupon.isReceive == 0}" src="/taobao/images/icon-coupon-index.png"></image>&ndash;&gt;-->
                            <!--&lt;!&ndash;<image th:if="${coupon.isReceive == 1}" src="/taobao/images/icon-coupon-no.png"></image>&ndash;&gt;-->
                            <!--<span class="tit" th:text="${coupon.couponName}">印花卫衣</span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--专题  -->
            <div class="home-fashion ui-box ui-border-t">
                <img class="home-imgtit" src="/taobao/img/hometit3.jpg" alt="" />
                <a href=""><img class="db margin-b-s" src="/taobao/uploads/t4.jpg" width="100%" alt="" /></a>
                <div class="fastion-plist mui-row">
                    <div class="mui-col-xs-4" th:each="topic:${topicList}">
                        <a class="item">
                            <img th:src="@{'/upload/topic/'+${topic.img}}" width="165px" height="165px" alt="" class="figure" />
                            <span class="tit" th:text="${topic.title}">印花卫衣</span>
                        </a>
                    </div>
                </div>
            </div>
    </div> <!--mui-content end-->
</div>


    <div th:replace="taobao/layout/footNav"></div>

</body>
<script type="text/javascript" src="/taobao/js/jquery-1.8.3.min.js" ></script>
<script src="/taobao/js/fastclick.js"></script>
<script src="/taobao/js/mui.min.js"></script>
<script type="text/javascript" src="/taobao/js/hmt.js" ></script>
<!--插件-->
<link rel="stylesheet" href="/taobao/js/swiper/swiper.min.css">
<script src="/taobao/js/swiper/swiper.jquery.min.js"></script>
<!--插件-->
<script src="/taobao/js/global.js"></script>
<script >
    $(function () {
        var banner = new Swiper('.banner',{
            autoplay: 5000,
            pagination : '.swiper-pagination',
            paginationClickable: true,
            lazyLoading : true,
            loop:true
        });

         mui('.pop-schwrap .sch-input').input();
        var deceleration = mui.os.ios?0.003:0.0009;
         mui('.pop-schwrap .scroll-wrap').scroll({
                bounce: true,
                indicators: true,
                deceleration:deceleration
        });
        $('.top-sch-box .fdj,.top-sch-box .sch-txt,.pop-schwrap .btn-back').on('click',function () {
            $('html,body').toggleClass('holding');
            $('.pop-schwrap').toggleClass('on');
            if($('.pop-schwrap').hasClass('on')) {;
                $('.pop-schwrap .sch-input').focus();
            }
        });

    });

    function display(str){
        //这个函数是需要把点击的值 传入到搜查框中 然后搜寻 并寻找出结果出来
        console.log(str);
        $('#searchInput').val(str);
    }
</script>
</html>