<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">了解网上商城</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;商城介绍</h3>
        <ul>
            <li>这个商城是希望能在使用小程序上面的</li>
            <li>但是小程序需要到某家大公司里面注册备案</li>
            <li>所以，我就做成了一个手机网页版的小程序了</li>
            <li>而且小程序这种移动的程序，一定需要做到手机的适配模式！！</li>
        </ul>

        
    </div>
</div>
</body>
</html>